################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Woodcutter Simulator/.vs/Woodcutter Simulator/v16/.suo
/Woodcutter Simulator/.vs/Woodcutter Simulator/v16/Browse.VC.db
/Woodcutter Simulator/.vs/Woodcutter Simulator/v16/ipch/AutoPCH/7c3eed81fec9d3d0/WOODCUTTER SIMULATOR.ipch
